@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IT University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to IT University</h2>
        <p>
            IT University's web-based application for enrollment commission of university.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build your future in IITU</h2>
        <p>Check interesting news about our unversity,teachin staff and etc.</p>
        <p><a class="btn btn-default" href="http://www.iitu.kz">Go to website &raquo;</a></p>
    </div>
   
</div>